body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 228, 228);
    margin: 0;
}

.message_div {
    height: max-content;
}

h1#header {
    color: white;
    background-color: blue;
    padding: 3% 0%;
    margin: 0;
}

input#TEXT {
    height: 30px;
    width: 200px;
}

a.button-blue {
    padding: 10px;
    border: 5px solid rgb(0, 0, 255);
    background-color: rgb(47, 124, 255);
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 25px;
}


/* a.button-blue:hover {
    border: 5px solid rgb(24, 24, 255);
    background-color: rgb(87, 129, 255);
} */

h6#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 20px 0px;
    opacity: .6;
    background-color: rgb(180, 180, 180);
}

span#pop_up {
    position: absolute;
    padding: 2px 5px;
    bottom: 1%;
    left: 1%;
    color: white;
    background-color: rgb(56, 56, 56);
    border-radius: 15px;
}