.container-message-body {
    background-color: #ffffff;
    border-radius: 10px;
    /* border: 5px solid rgb(211, 211, 211); */
    box-shadow: 0 1px 5px 4px #d4d4d4;
    margin: 25px;
    padding: 30px 0;
    height: 100%;
    /* width: 100%; */
}

.header {
    box-shadow: 0 1px 5px 4px #d4d4d4;
    color: #ffffff;
    background-color: #0000ff;
}

.header-text {
    padding: 2% 0%;
    margin: 0;
}

.text-input {
    height: 30px;
    width: 200px;
    padding: 5px 10px;
    background-color: #f8f8f8;
    border: 2px solid #8f8f8f;
    border-radius: 5px;
    box-shadow: 0 0 1px 2px #e4e4e4;
}

.text-input:hover {
    box-shadow: 0 0 1px 2px #c2c2c2;
    cursor: text;
}

.text-input:focus {
    box-shadow: 0 0 1px 2px #c2c2c2;
    outline: none;
}

.text-input:active {
    box-shadow: 0 0 1px 2px #c2c2c2;
    cursor: auto;
}

.button {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 2px solid #6e6e6e;
    background-color: #adadad;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    height: 20px;
    width: 20px;
    background-image: url("/static/img/send_button.png");
    background-size: cover;
    background-position: center;
}

.button:hover {
    box-shadow: 0 0 1px 2px #cccccc;
    background-color: #a5a5a5;
    cursor: pointer;
}

.button:active {
    box-shadow: 0 0 1px 2px #cccccc;
    background-color: #a5a5a5;
    cursor: pointer;
}

a.disabled {
    background-image: url("/static/img/send_button_disabled.png");
}


/* a.button-blue:hover {
    border: 5px solid rgb(24, 24, 255);
    background-color: rgb(87, 129, 255);
} */

.flex-container-row-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 20px 0px;
    opacity: .6;
    background-color: #b4b4b4;
}

.pop-up {
    position: absolute;
    padding: 5px 10px;
    bottom: 1%;
    left: 1%;
    color: #ffffff;
    background-color: #383838;
    border-radius: 15px;
    display: none;
    opacity: 0;
    animation: open-close 3s linear 1;
}

@keyframes open-close {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.95;
    }
    90% {
        opacity: 0.95;
    }
    100% {
        opacity: 0;
    }
}

.loader {
    border: 7px solid #4e4eff;
    border-top: 7px solid #e2e2e2;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    right: 10px;
    bottom: 60px;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}