<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta lang="en-IN">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>Arduino Control</title>

</head>

<header>
    <h1 id="header">Arduino Control</h1>
</header>

<body>
    <div id="main">
        <h3 id="header2">Type your sentence</h3>
        <!-- <br> -->
        <span>
            <input value="{{ messages['btext'] }}" type="text" name="Your Sentence" id="TEXT" maxlength="16">
        </span>
        <a id="ButtoN" class="button-blue" href="#" onclick="input_validate()">Submit</a>
        <h6 id="footer">Programmed By: <strong>Nayan Shetty</strong></h6>
    </div>

    <span id="pop_up"></span>

</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>