<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta lang="en-IN">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>Arduino Control</title>

</head>

<header>
    <h1 id="header">Arduino Control</h1>
</header>

<body>
    <div id="message_div">
        <h2 id="header2">Type Your Message</h2>
        <!-- <br> -->
        <span>
            <input value="{{ messages['btext'] }}" type="text" name="Your Sentence" id="TEXT" maxlength="16">
        </span>
        <a id="ButtoN" class="button-blue" href="#" onclick='input_validate("/p1/post_message")'>Submit</a>
    </div>
    <div id="about_div">
        This page was made during the making of one of my project which demonstrated how the internet works....
    </div>

    <h6 id="footer">Programmed By: <strong>Nayan Shetty</strong></h6>

    <span id="pop_up"></span>

</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>