<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta lang="en-IN">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <script>
        function clicked() {

        }
    </script>

    <title>Arduino Control API</title>

</head>

<header>

</header>

<body>
    <h1 style="color: chocolate; text-align: center;">Hello Stranger.......</h1>
    <p style="color: lime; text-align: center;">I dunno why you here but <a href="/hidden/" class="plain_link">Hi!!!</a>
    </p>
    <div style="text-align: center;">
        <a class="button_blue" href="/display/all/">Click Me</a>
    </div>
</body>

</html>